.instrument-icon {
    display: block;
    margin: 3vh auto 1vh;
    width: clamp(64px, 13vmin, 256px);
    height: clamp(64px, 13vmin, 256px);
}

.card {
    margin: 1vmin;
    padding: 0;
}

.card:hover {
    cursor: pointer;
    border-width: 0.7vmin;
    border-color: black;
    background-color: var(--color1)
}

.blocked:hover {
    cursor: pointer;
    border-width: 0.7vmin;
    border-color: black;
    color: black;
    background-color: var(--color2)
}

p {
    font-size: 2.1vmin;
}

h4 {
    font-size: clamp(20px, 2vw, 35px);
}

header {
    margin-bottom: 7vmin;
}
